<div class="container-fluid">
    <div class="row">
        <mat-toolbar color="primary">
            <span>Dynamic Grid Proof of concept</span>
        </mat-toolbar>
    </div>
</div>

<div class="container-fluid py-2">
    <app-column-customization [avaliableColumnData]="avaliableColumn" [visibleColumnData]="visibleColumn" (getVisibleColumnData)="getVisibleColumnData($event)"></app-column-customization>
</div>

<div class="container-fluid py-2">
    <app-dynamic-table [visibleColumnData]="visibleColumn" [dataList]="dataList" (getVisibleColumnData)="getVisibleColumnData($event)"></app-dynamic-table>
</div>